.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.bg-1
  background-image: url('../assets/curso/temas/bg1.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
.bg-2
  background-image: url('../assets/curso/temas/bg2.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  margin-top: -3rem
  margin: -3rem -3rem 3rem -3rem
